@page "/"

<PageTitle>Index</PageTitle>

<style>
    .log-textarea {
        width: 100%;
        height: 500px;
        font-family: "Liberation Mono",monospace;
    }
</style>

<h4>Simple WebSocket Client in JS</h4><br />

<button class="btn btn-primary" onclick="doStuff()">Click me!</button><br /><br />

JS output:<br />
<textarea id="myScriptOutput" class="log-textarea"></textarea>
